.sidebar {
    width: 200px;
    float: left;
    background-color: #f4f4f4;
    padding: 10px;
    box-sizing: border-box;
}

.content {
    margin-left: 200px;
    padding: 15px;
    box-sizing: border-box;
}